<div class="navbar-custom">
    <img src="assets/images/logo-plexus-white.png" class="img-fluid2" alt="image">
</div>

<div class="navbar-menu">
    <p><i class="bx bx-category-alt"></i>Tableau de bord</p>
    <p><i class="bx bx-folder-open"></i>Projets</p>
    <p><i class="bx bx-calendar"></i>Réunions / Agenda</p>
    <p><i class="bx bx-list-ul"></i>Annuaires</p>
    <p><i class="bx bx-box"></i>Communication</p>
    <p><i class="bx bx-line-chart"></i>Bilan</p>
    <p><i class="bx bx-money-withdraw"></i>Honoraires et versements</p>
    <p (click)="backHome()"><i class="bx bx-bell-plus"></i>Gestion de crise</p>

</div>

<div class="container bg-g">
    <router-outlet></router-outlet>
</div>




<!-- <div class="navbar-custom"> <img src="assets/images/logo-plexus-white.png" class="img-fluid2" alt="image"></div>
<div class="navbar-menu">
    <p>lien 1</p>
    <p>lien 2</p>
    <p>lien 3 </p>
</div>
<div class="container bg-g">
    <router-outlet></router-outlet>
</div> -->
<!-- <app-homecrisis></app-homecrisis> -->