.container {
  padding: 0px;
  background-color: #ffffff;
  color: #525d66;
}

.flex-box-icone {
  display: flex;
}

.bxs-book-content {
  font-size: 35px;
  margin-right: 5px;
}

.sub-title {
  font-weight: 550;
  color: #525d66;
}

.text-objectif {
  margin-bottom: 20px;
  font-weight: 350;
  color: #838c91;
}

.text-description {
  font-weight: 350;
  color: #838c91;
}