<!-- <nav class="nav nav-pills flex-column flex-sm-row" style=" padding-top: 50px;">
    <div *ngFor="let tab of tabsArray; let sr= index" (click)="setTab(sr)">
        <a class="flex-sm-fill text-sm-center nav-link" [ngClass]="activatedTab == sr ? 'active' :'' ">{{tab}}</a>
    </div>
</nav> -->

<nav class="nav nav-pills" style="padding-top: 50px;">
    <div class="nav-item" *ngFor="let tab of tabsArray; let sr= index" (click)="setTab(sr)">
        <a class="nav-link" [ngClass]="activatedTab == sr ? 'active' : ''">{{tab}}</a>
    </div>
</nav>