.list-group-item {
    background-color: white;
    display: flex;
    height: 200px;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 14px;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 200px;
}

.detailcrisis {
    width:40%;
    max-height: 200px;
    color:#2389bf;
    padding: 10px 30px 10px 10px;
}

.description {
    font-size: 12px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    /* Nombre de lignes à afficher */
    -webkit-box-orient: vertical;
    color: #3f3f3f;
}

.detailstatuscrisis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    max-height: 200px;
    padding: 10px 30px 10px 30px;
    color:#2389bf;
    border-left: 1px solid #838c91;

}

.statuscrisis {
    display:flex;
    align-items: center;
    font-size: 20px;
}

.participants-meeting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    max-height: 200px;
    padding: 10px 10px 10px 30px;
    color:#2389bf;
    border-left: 1px solid #838c91;
}

