<li class="list-group-item" (click)="selectCrisis()" style="margin-bottom: 10px;">
    <div class="row">
        <div class="img">
            <!-- Image -->
            <img src="{{ crisis.pathToImage }}" class="img-fluid" alt="image" style="width:92px;height: 92px;">
        </div>
        <div class="detailcrisis">
            <!-- Titre -->
            <h4>{{ crisis.title }}</h4>
            <!-- Description -->
            <!-- <p>{{ crisis.objective }}</p> -->
            <h5>{{ crisis.objective }}</h5>
            <p class="description">{{ crisis.description }}</p>

        </div>
        
        <div class="statuscrisis">
            <!-- Petit texte -->
            <div class="crisisstatus">
                <h5>Status de la crise : </h5>
                <p style="color: red;"> {{ crisis.status
                    }} </p>
            </div>
            <p> Début de crise : {{ crisis.startdate| date: 'dd/MM/yyyy' }} </p>
            <p> localisée à : {{crisis.localisation}} </p>
        </div>
        <div class="participants-meeting">
            <!-- Petit texte -->
            <p> X participants</p>
            <p *ngIf="crisis.pathToFiles"> {{crisis.pathToFiles.length}} documents </p>
            <p> Z réunions </p>
        </div>
    </div>
</li>