<li class="list-group-item" (click)="selectCrisis()" style="margin-bottom: 10px;">
        <div class="img">
            <!-- Image -->
            <img src="{{ crisis.pathToImage }}" class="img-fluid" alt="image" style="width:100px;height: 100px;">
        </div>
        <div class="detailcrisis">
            <!-- Titre -->
            <h2>{{ crisis.title }}</h2>
            <!-- Description -->
            <!-- <p>{{ crisis.objective }}</p> -->
            <h3>{{ crisis.objective }}</h3>
            <p class="description">{{ crisis.description }}</p>
        </div>
        
        <div class="detailstatuscrisis">

            <!-- Petit texte -->
            <div class="statuscrisis">
                <h3>Status de la crise : </h3>
                <p style="color: red; margin-left: 5px;"> {{ crisis.status
                    }} </p>
            </div>
            <div>
                <p> Début de crise : {{ crisis.startdate| date: 'dd/MM/yyyy' }} </p>
                <p> localisée à : {{crisis.localisation}} </p>
            </div>
        </div>
        <!-- <div class="participants-meeting">
        
            <p *ngIf="numberMember"> {{numberMember}} Participants </p>
            <p *ngIf="crisis.pathToFiles"> {{crisis.pathToFiles.length}} Documents </p>
            <p> Z réunions </p>
        </div> -->
        <div class="participants-meeting">
            <!-- Afficher le nombre de participants ou un message si aucun participant -->
            <p *ngIf="numberMember; else noParticipants"> {{numberMember}} Participants </p>
            <ng-template #noParticipants>
                <p>Il n'y a pas de participants</p>
            </ng-template>

            <!-- Afficher le nombre de documents ou un message si aucun document -->
            <p *ngIf="crisis.pathToFiles && crisis.pathToFiles.length > 0; else noDocuments">
                {{crisis.pathToFiles.length}} Documents
            </p>
            <ng-template #noDocuments>
                <p>Il n'y a pas de documents</p>
            </ng-template>

            <!-- Afficher le nombre de réunions (remplacer 'Z' par la variable appropriée si disponible) -->
            <p *ngIf="numberMeetings; else noMeetings"> {{numberMeetings}} Réunions </p>
            <ng-template #noMeetings>
                <p>Il n'y a pas de réunions</p>
            </ng-template>
        </div>
</li>