<div class="container">
    <div>
        <div class="flex-box-icone">
            <i class='bx bxs-book-content'></i>
            <h3 class="sub-title">Objectif</h3>
        </div>
        <div class="text-objectif">
            {{crisis.objective}}
        </div>
    </div>
    <div>
        <div class="flex-box-icone">
            <i class='bx bxs-book-content'></i>
            <h3 class="sub-title">Description</h3>
        </div>
        <div class="text-description">
            {{crisis.description}}
        </div>
    </div>
</div>
